Repository reynan-dev/codenaute, pull requests merged in 2023-04, with the labels that each got.

#55 build: update dependencies like typescript and pnpm
  README.md
  client/package.json
  client/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  server/package.json
  server/pnpm-lock.yaml
Labels: development/setup

#65 build: refactor server with encapsulation of server and database, ci and update docker setup and makefiles
  .github/workflows/client.yml
  .github/workflows/server.yml
  client/Dockerfile
  client/Makefile
  client/pnpm-lock.yaml
  client/src/components/Button/Button.tsx
  client/src/components/Button/index.ts
  client/src/components/Input/Input.tsx
  client/src/components/Input/index.ts
  client/src/pages/signUp/components/SignUpForm.tsx
  client/src/pages/signUp/index.ts
  client/src/pages/signUp/signUp.container.tsx
  client/src/pages/signUp/signUp.page.tsx
  database/Makefile
  docker-compose.yml
  pnpm-lock.yaml
  server/Dockerfile
  server/Makefile
  server/package.json
  server/pnpm-lock.yaml
  server/src/db.ts
  server/src/index.ts
  server/src/resolvers/base/BaseResolver.ts
  server/src/services/base/BaseServices.ts
  server/src/utils/configs/database.ts
  server/src/utils/configs/server.ts
  server/src/utils/enums/Environment.ts
  server/tests/setup.jest.ts
Labels: development/setup, development/app

#56 refactor(server): updating args types
  server/src/models/base/BaseModel.ts
  server/src/resolvers/MemberResolver.ts
  server/src/resolvers/ProjectResolver.ts
  server/src/resolvers/RoutingTokenResolver.ts
  server/src/resolvers/SandpackTemplate.ts
  server/src/resolvers/args/FileProjectArgs.ts
  server/src/resolvers/args/MemberArgs.ts
  server/src/resolvers/args/ProgrammingLanguageArgs.ts
  server/src/resolvers/args/ProjectArgs.ts
  server/src/resolvers/args/RoutingTokenArgs.ts
  server/src/resolvers/args/SandpackTemplateArgs.ts
  server/src/services/FileProjectServices.ts
  server/src/services/MemberServices.ts
  server/src/services/ProjectServices.ts
  server/src/services/base/BaseServices.ts
  server/src/utils/types/Uuid.ts
  server/tests/integrations/services/FileProjectServices/findAllByProjectId.integration.test.ts
  server/tests/integrations/services/MemberServices/validEmail.integration.test.ts
Labels: development/app

#49 test(server): testing code editor settings on server side.
  .github/workflows/client.yml
  .github/workflows/server.yml
  client/src/components/Container/Container.tsx
  client/src/components/Input/Input.tsx
  client/src/pages/account/components/DeleteAccountForm.tsx
  client/src/pages/account/components/UpdateInformationsForm.tsx
  client/src/pages/account/components/UpdatePasswordForm.tsx
  client/src/pages/home/home.page.tsx
  client/src/pages/signIn/signIn.page.tsx
  client/src/pages/signUp/signUp.page.tsx
  server/Dockerfile
  server/package.json
  server/pnpm-lock.yaml
  server/src/index.ts
  server/src/models/Member.ts
  server/src/models/ProgrammingLanguage.ts
  server/src/models/Project.ts
  server/src/models/SandpackTemplate.ts
  server/src/resolvers/MemberResolver.ts
  server/src/resolvers/ProgrammingLanguageResolver.ts
  server/src/resolvers/ProjectResolver.ts
  server/src/resolvers/args/ProjectArgs.ts
  server/src/resolvers/base/BaseResolver.ts
  server/src/services/MemberServices.ts
  server/src/services/ProjectServices.ts
  server/src/services/SandpackTemplateServices.ts
  server/src/services/base/BaseServices.ts
  server/src/utils/configs/database.ts
  server/src/utils/configs/server.ts
  server/src/utils/enums/ErrorMessages.ts
  server/tests/integrations/services/BaseServices/findById.integration.test.ts
  server/tests/integrations/services/FileProjectServices/findAllByProjectId.integration.test.ts
  server/tests/integrations/services/MemberServices/findBySessionToken.integration.test.ts
  server/tests/integrations/services/MemberServices/followMember.integration.test.ts
  server/tests/integrations/services/MemberServices/validEmail.integration.test.ts
  server/tests/integrations/services/ProgrammingLanguage/findByName.integration.test.ts
  server/tests/integrations/services/ProjectServices/addToFavorite.integration.test.ts
  server/tests/integrations/services/ProjectServices/findAllProjectsByEditorId.integration.test.ts
  server/tests/integrations/services/ProjectServices/findAllProjectsByFavorites.integration.test.ts
  server/tests/integrations/services/ProjectServices/findAllProjectsByOwner.integration.test.ts
  server/tests/integrations/services/ProjectServices/findAllProjectsByProgrammingLanguage.integration.test.ts
  server/tests/integrations/services/ProjectServices/findAllProjectsByTemplate.integration.test.ts
  server/tests/integrations/services/ProjectServices/findAllPublicProjects.integration.test.ts
  server/tests/integrations/services/ProjectServices/share.integration.test.ts
  server/tests/integrations/services/SandpackTemplate/findBySlug.integration.test.ts
  server/tests/setup.jest.ts
  server/tsconfig.json
Labels: development/tests

#58 feat(client): creates navbar
  .github/workflows/codebase.yml
  README.md
  client/package.json
  client/src/app.tsx
  client/src/components/burger-button/burger-button.tsx
  client/src/components/burger-button/index.ts
  client/src/components/main/index.ts
  client/src/components/main/main.tsx
  client/src/components/nav-bar/index.ts
  client/src/components/nav-bar/nav-bar.tsx
  client/src/components/svgs/nav-bar-logo/index.ts
  client/src/components/svgs/nav-bar-logo/nav-bar-logo-svg.tsx
  client/src/hooks/use-window-size.ts
  client/src/pages/account/account.page.tsx
  client/src/pages/code/code.page.tsx
  client/src/pages/home/home.page.tsx
  client/src/styles/colors.js
  client/src/styles/tailwind.css
  client/tailwind.config.js
  database/Makefile
  server/package.json
  server/src/utils/configs/server.ts
Labels: development/app
